<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="EasyFileShare streamlines file sharing effortlessly. No accounts needed—just upload, get a link, and securely share in the cloud. Fast and easy file sharing made simple with EasyFileShare.">
      <meta name="keywords" content="file sharing, easy file sharing, cloud sharing, secure file sharing">
      <meta name="author" content="Dev Femi Badmus">
      <title>EasyFileShare - Effortless File Sharing in the Cloud</title>
      <meta property="og:title" content="EasyFileShare - Effortless File Sharing in the Cloud">
      <meta property="og:description" content="EasyFileShare streamlines file sharing effortlessly. No accounts needed—just upload, get a link, and securely share in the cloud. Fast and easy file sharing made simple with EasyFileShare.">
      <meta property="og:image" content="{{ url_for('static', filename='images/easyfileshare.png') }}">
      <meta property="og:url" content="https://easyfileshare.blackstackhub.com">
      <meta name="og:site_name" content="Black Stack Hub">
      <meta name="twitter:card" content="summary_large_image">
      <meta name="twitter:title" content="EasyFileShare - Effortless File Sharing in the Cloud">
      <meta name="twitter:description" content="EasyFileShare streamlines file sharing effortlessly. No accounts needed—just upload, get a link, and securely share in the cloud. Fast and easy file sharing made simple with EasyFileShare.">
      <meta name="twitter:image" content="{{ url_for('static', filename='images/easyfileshare.png') }}">
      <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
      <link rel="canonical" href="https://easyfileshare.blackstackhub.com">
      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3805485538389573"
     crossorigin="anonymous"></script>
      <style>.cloud-particle {position: absolute;width: 50px;height: 30px;background-image: url("{{ url_for('static', filename='images/easyfileshare.png') }}");background-size: cover;}</style>
   </head>
   <body id="drawing-container">
      <div class="container"><div id="message-container"></div><input type="file" id="file-input" class="pd"><button onclick="uploadFile()" class="pd">Upload</button><div class="container-sm" id="file-list"></div></div>
      <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
      <script src="{{ url_for('static', filename='js/script.js') }}"></script>
      <script src="{{ url_for('static', filename='js/main.js') }}"></script>
   </body>
</html>
